
// ************* COLORS
// Primary
$dark-blue : hsl(233, 26%, 24%);
$lime-green : hsl(136, 65%, 51%);
$bright-cyan : hsl(192, 70%, 51%);

// Neutral
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


// ************* MediaQuery Conditions

$mq-conditions: (
  'top-header-nav': 'min-width: 50em',
  'header-bg': 'min-width: 45em',
  'inner-container': 'min-width: 62em',
  'section-title': 'min-width: 40em',
  'footer-center': 'min-width: 60em',
  'footer-nav-item-width': 'min-width: 30em'
);


@mixin mq($mq-condition){
  $condition: map-get($mq-conditions, $mq-condition);
  @media ($condition) {
    @content
  }
}
